<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34431704179-6ghn4s7omriuu83o09lvh9ftaqa2ovn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34431704179-6ghn4s7omriuu83o09lvh9ftaqa2ovn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34431704179-lm4ubfltjrg910u9hck052em6779gpi4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7vv5BVe66lackb74sOAXl_HMfqxKBIsE</string>
	<key>GCM_SENDER_ID</key>
	<string>34431704179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ali</string>
	<key>PROJECT_ID</key>
	<string>first-udemy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>first-udemy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34431704179:ios:2c739c6b20742091575e06</string>
</dict>
</plist>